{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load i18n %}

{% block style %}
    <style>
        .sales {
            margin-top: 0;
        }

        .buy {
            border: 1px solid #0E1133;
            border-radius: 20px;
            padding: 10px 20px;
        }

        .buy:hover {
            border: 1px solid #fff;
            border-radius: 20px;
            padding: 10px 20px;
            color: white;
            background-color: #0E1133;
        }

        .main__box {
            width: 100%;
        }

        .main_block {
            display: flex;
            flex-wrap: wrap;
            column-gap: 30px;
            row-gap: 30px;
            justify-content: flex-start;
        }

        .main__box-el {
            width: 22%;

        }

        .default-img-size {
            width: 220px;
            height: 220px;
        }

        .product-category_fz {
            font-size: 12px;
        }

        .product-content-wrap_fz {
            font-size: 13px;
            color: #000;
        }

        .product-content-wrap_fz:hover {
            color: #0E1133;
        }

    </style>
{% endblock %}
{% block content %}

    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="{% url 'index' %}" rel="nofollow">{% trans "Bosh sahifa" %}</a>
                    <span></span> {% trans "Mahsulotlar" %}
                </div>
            </div>
        </div>
        <section class="mt-60 mb-60">
            <div class="container">
                <div class="row flex-row-reverse main__box">
                    <div class="col-lg-9">
                        <div class="main_block">

                            {% for product in products %}
                                <div class="main__box-el">
                                    <div class="product-cart-wrap mb-30">
                                        <div class="product-img-action-wrap">
                                            <div class="product-img product-img-zoom">
                                                <a href="{% url 'shop-details' product.id %}">
                                                    <img class="default-img  default-img-size"
                                                         src="{{ product.product_images.first.image.url }}" alt=""
                                                         width="230px" height="230px">
                                                    <img class="hover-img  default-img-size"
                                                         src="{{ product.product_images.last.image.url }}" alt=""
                                                         width="230px" height="230px">
                                                </a>
                                            </div>
                                            <div class="product-badges product-badges-position product-badges-mrg">
                                                <span class="{{ product.status.lower }}">{% if product.status %}
                                                    {{ product.status }}{% endif %}</span>
                                            </div>
                                        </div>
                                        <div class="product-content-wrap">
                                            <div class="product-category">
                                                <a href="{% url 'shop-details' product.id %}">
                                                    <span class="product-category_fz">{{ product.category.first }}</span></a>
                                            </div>
                                            <div>
                                                <a href="{% url 'shop-details' product.id %}">
                                                    <p class="product-content-wrap_fz">
                                                        {{ product.title|slice:'0:45' }}
                                                    </p>
                                                </a>
                                            </div>

                                            <div class="product-rate">
                                                <div class="product-rating"
                                                     style="width:{{ product.mid_rate_percent }}%"></div>
                                            </div>
                                            <div class="percentage">
                                                {% if product.percentage %}
                                                    <span>
                                                        <span>{{ product.percentage }}%</span>
                                                    </span>
                                                {% endif %}
                                            </div>
                                            <div>
                                                {% if product.title|length <= 26 %}
                                                    <div style="margin-top: 25px;">

                                                    </div>
                                                {% endif %}
                                            </div>

                                            <div class="product-price">
                                                {% if product.discount > 0 %}

                                                    <span>{{ product.monthly_uzs }} {% trans "uzs" %}/{{ active_variant }} {% trans "oy" %}</span>
                                                    <br>
                                                    <span class="bg-warning new_price">UZS {{ product.discount_uzs|intcomma }} </span>
                                                    <br>
                                                    <span class="old-price">UZS {{ product.total_uzs|intcomma }}</span>
                                                {% else %}
                                                    <span>{{ product.monthly_uzs|intcomma }} {% trans "uzs" %}/{{ active_variant }} {% trans "oy" %}</span>
                                                    <br>
                                                    <span class="bg-warning new_price">UZS {{ product.total_uzs|intcomma }}</span>

                                                {% endif %}
                                            </div>
                                            <div class="product-action-1 show" style="bottom: 15px; right: 10px;">
                                                <a aria-label="Add To Wishlist" class="action-btn hover-up"
                                                   href="{% url 'wishlist' product.id %}"><i style="padding-top: 5px"
                                                                                             class="far fa-heart"></i></a>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                        <!--pagination-->
                        <div class="pagination-area mt-10 mb-md-5 mb-lg-0 mb-10">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-start">
                                    {% if active_cat %}
                                        {% if products.has_previous %}
                                            <li class="page-item"><a class="page-link"
                                                                     href="?cat={{ active_cat_name }}&page={{ products.previous_page_number }}"><i
                                                    class="fa fa-angle-left mt-15"></i></a></li>
                                        {% endif %}
                                        {% for obj in products.paginator.page_range %}
                                            {% if products.number == obj %}

                                                <li class="page-item active"><a class="page-link"
                                                                                href="?cat={{ active_cat_name }}&page={{ obj }}">{{ obj }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if products.has_next %}
                                            <li class="page-item"><a class="page-link"
                                                                     href="?cat={{ active_cat_name }}&page={{ products.next_page_number }}"><i
                                                    class="fa fa-angle-right mt-15"></i></a></li>
                                        {% endif %}
                                    {% elif active_brand %}
                                        {% if products.has_previous %}
                                            <li class="page-item"><a class="page-link"
                                                                     href="?brand={{ active_brand_name }}&page={{ products.previous_page_number }}"><i
                                                    class="fa fa-angle-left mt-15"></i></a></li>
                                        {% endif %}
                                        {% for obj in products.paginator.page_range %}
                                            {% if products.number == obj %}

                                                <li class="page-item active"><a class="page-link"
                                                                                href="?brand={{ active_brand_name }}&page={{ obj }}">{{ obj }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if products.has_next %}
                                            <li class="page-item"><a class="page-link"
                                                                     href="?brand={{ active_brand_name }}&page={{ products.next_page_number }}"><i
                                                    class="fa fa-angle-right mt-15"></i></a></li>
                                        {% endif %}
                                    {% else %}
                                        {% if products.has_previous %}
                                            <li class="page-item"><a class="page-link"
                                                                     href="?page={{ products.previous_page_number }}"><i
                                                    class="fa fa-angle-left mt-15"></i></a></li>
                                        {% endif %}
                                        {% for obj in products.paginator.page_range %}
                                            {% if products.number == obj %}

                                                <li class="page-item active"><a class="page-link"
                                                                                href="?page={{ obj }}">{{ obj }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if products.has_next %}
                                            <li class="page-item"><a class="page-link"
                                                                     href="?page={{ products.next_page_number }}"><i
                                                    class="fa fa-angle-right mt-15"></i></a></li>
                                        {% endif %}
                                    {% endif %}

                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-3 primary-sidebar sticky-sidebar">
                        <div class="widget-area">
                            <!--Widget categories-->
                            <div class="sidebar-widget widget_categories mb-30 p-30 bg-grey border-radius-10">
                                <div class="widget-header position-relative mb-20 pb-10">
                                    <h5 class="widget-title mb-10">{% trans "Bo'limlar" %}</h5>
                                    <div class="bt-1 border-color-1"></div>
                                </div>
                                <div class="">
                                    <ul class="categor-list">
                                        {% if active_brand %}
                                            {% for sub_child in cats %}
                                                {% if sub_child.parent != None %}


                                                    <li class="cat-item text-muted">
                                                    <a href="/shop/?brand={{ active_brand_name }}&cat={{ sub_child }}">{{ sub_child }}</a>
                                                    ({{ sub_child.product_set.count }})

                                                {% endif %}
                                            {% endfor %}
                                        {% else %}

                                        {% for sub_child in cats %}
                                            {% if sub_child.parent != None %}


                                                <li class="cat-item text-muted">
                                                <a href="/shop/?cat={{ sub_child }}">{{ sub_child }}</a>
                                                ({{ sub_child.product_set.count }})

                                            {% endif %}
                                        {% endfor %}
                                        {% endif %}


                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Product sidebar Widget -->
                            <div class="sidebar-widget product-sidebar  mb-30 p-30 bg-grey border-radius-10">
                                <div class="widget-header position-relative mb-20 pb-10">
                                    <h5 class="widget-title mb-10">{% trans "Eng ko'p ko'rilgan mahsulotlar" %}</h5>
                                    <div class="bt-1 border-color-1"></div>
                                </div>
                                {% for last_3_product in last_3_products %}
                                    <div class="single-post clearfix">
                                        <div class="image">
                                            <img src="{{ last_3_product.product_images.first.image.url }}" alt="#">
                                        </div>
                                        <div class="content pt-10">
                                            <h5>
                                                <a href="{% url "shop-details" last_3_product.id %}">{{ last_3_product.title|slice:'0:25' }}</a>
                                            </h5>
                                            <div class="product-price">
                                                {% if last_3_product.discount > 0 %}
                                                    <span>{{ last_3_product.monthly_uzs|intcomma }} {% trans "uzs" %}/{{ active_variant }} {% trans "oy" %}</span>
                                                    <br>
                                                    <span class="bg-warning new_price">UZS {{ last_3_product.discount_uzs|intcomma }}</span>
                                                {% else %}
                                                    <span>{{ last_3_product.monthly_uzs|intcomma }} {% trans "uzs" %}/{{ active_variant }} {% trans "oy" %}</span>
                                                    <br>
                                                    <span class="bg-warning new_price">UZS {{ last_3_product.total_uzs|intcomma }}</span>
                                                {% endif %}
                                            </div>
                                            <div class="product-rate">
                                                <div class="product-rating"
                                                     style="width:{{ last_3_product.mid_rate }}%"></div>
                                            </div>
                                        </div>
                                    </div>

                                {% endfor %}
                            </div>
                            <!-- Product sidebar Widget -->
                            <div class="sidebar-widget product-sidebar  mb-30 p-30 bg-grey border-radius-10">
                                <div class="widget-header position-relative mb-20 pb-10">
                                    <h5 class="widget-title mb-10">{% trans "Eng yaxshi baholanganlar" %}</h5>
                                    <div class="bt-1 border-color-1"></div>
                                </div>
                                {% for top_rate_product in top_rate_products|slice:'0:3' %}
                                    <div class="single-post clearfix">
                                        <div class="image">
                                            <img src="{{ top_rate_product.product_images.first.image.url }}" alt="#">
                                        </div>
                                        <div class="content pt-10">
                                            <h5>
                                                <a href="{% url "shop-details" top_rate_product.id %}">{{ top_rate_product.title|slice:'0:25' }}</a>
                                            </h5>
                                            <div class="product-price">
                                                {% if top_rate_product.discount > 0 %}

                                                    <span>{{ top_rate_product.monthly_uzs|intcomma }} {% trans "uzs" %} x {{ active_variant }} {% trans "oy" %}</span>
                                                    <br>
                                                    <span class="bg-warning new_price">${{ top_rate_product.discount_uzs }} </span>
                                                {% else %}
                                                    <span>{{ top_rate_product.monthly_uzs|intcomma }} {% trans "uzs" %} x {{ active_variant }} {% trans "oy" %}</span>
                                                    <br>
                                                    <span class="bg-warning new_price">${{ top_rate_product.total_uzs }} </span>
                                                {% endif %}
                                            </div>
                                            <div class="product-rate">
                                                <div class="product-rating"
                                                     style="width:{{ top_rate_product.mid_rate_percent }}%"></div>
                                            </div>
                                        </div>
                                    </div>

                                {% endfor %}
                            </div>
                            <!--Widget ads-->
                            <div class="sidebar-widget widget-ads mb-30">
                                {% for discount in discounts|slice:'0:1' %}
                                    <div class="banner-img banner-1 wow fadeIn  animated"
                                         style="visibility: visible; animation-name: fadeIn;">
                                        <img class="border-radius-10 ms-2"
                                             src="{{ discount.product_images.first.image.url }}" alt="" height="270px"
                                             width="290px">
                                        <div style="padding: 0 15px; top: 60px" class="banner-text sales">
                                            <span>{{ discount.category.first }}</span>
                                            <h4 class="fs-8">{{ discount.percentage }}% {% trans "Tejab qolish" %}
                                                <br>{{ discount.title|slice:'0:25' }}</h4>
                                            <a class="buy" href="/">{% trans "Sotib olish" %} <i
                                                    class="fa fa-arrow-right"></i></a>
                                        </div>
                                    </div>

                                {% endfor %}

                            </div>
                            <!--Widget categories-->
                            <div class="sidebar-widget widget_categories mb-50 p-30 bg-grey border-radius-10">
                                <div class="widget-header position-relative mb-20 pb-10">
                                    <h5 class="widget-title mb-10">{% trans "Ishlab chiqaruvchilar" %}</h5>
                                    <div class="bt-1 border-color-1"></div>
                                </div>
                                <div class="">
                                    <ul class="categor-list">
                                        {% if active_cat %}
                                            {% for brand in brands %}
                                                <li class="cat-item text-muted">
                                                <a href="/shop/?brand={{ brand }}&cat={{ active_cat_name }}">{{ brand.title }}</a>
                                                ({{ brand.product_set.count }})
                                            {% endfor %}
                                        {% else %}
                                        {% for brand in brands %}
                                            <li class="cat-item text-muted">
                                            <a href="/shop/?brand={{ brand }}">{{ brand.title }}</a>
                                            ({{ brand.product_set.count }})
                                        {% endfor %}
                                        {% endif %}

                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
